spotipy>=2.23.0
python-dotenv>=1.0.0
click>=8.1.7 
opencc-python-reimplemented>=0.1.7 
fuzzywuzzy>=0.18.0
python-Levenshtein>=0.21.1  # 加速 fuzzywuzzy 的可选依赖 
pypinyin>=0.49.0  # 用于中文拼音转换 
fastapi>=0.105.0  # API服务器框架
pydantic>=2.5.2  # 数据验证
uvicorn>=0.24.0  # ASGI服务器
gunicorn # WSGI HTTP Server for UNIX